@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&family=Krona+One&family=Montserrat:wght@400;600&display=swap");
@import url(variaveis.css);

* {
    font-family: 'Comic Neue', cursive;
}

html {
  background-color: #FAFAFA;
  margin: 0;
  border: 0; 
} 

body {
    font-size: 32px;
    text-align: center;
    background-color: #FAFAFA;
}

header {
    border-radius: 30px;
}

a {
    text-decoration: none;
    color:#000000;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: var(--drop-shadow);
}

nav h1 {
    align-self: center;
    margin: 0 auto;
    font-weight: 700;
    font-size: 1.5em;
}

nav button{
    font-size: large;
    padding: 10px 50px;
    border: none;
    border-radius: 50px;
    box-shadow: var(--drop-shadow);
}

nav a{
    margin-right: 3%;
}
  

/* Menu burger */

.menu-button {
    cursor: grab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.bar {
    margin-left: 30px;
    width: 100%;
    height: 3px;
    transition: background-color 0.5s ease-in-out;
}

/* mudando o hamburg*/

#menu-toggle:checked ~ .menu-button .bar:nth-child(2) {
    transform: scale(0);
}
  
#menu-toggle:checked ~ .menu-button .bar:first-child {
    transform: translateY(8px) rotate(45deg);
}
  
#menu-toggle:checked ~ .menu-button .bar:last-child {
    transform: translateY(-8px) rotate(-45deg);
}
  
.menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    background-color: #f8f8f8;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
  
.menu li {
    margin: 10px 0;
}
  
.menu a {
    display: block;
    padding: 10px 20px;
    transition: background-color 0.3s ease-in-out;
}
  
.menu a:hover {
    background-color: #ddd;
}
    
#menu-toggle:checked ~ .menu {
    display: block;
}

#menu-toggle {
    display: none;
}
  
/* ///////// */

.bloco_size {
    width: 430px;
    height: 380px;
    margin: 25px;
    border-radius: 50px;
    box-shadow: var(--drop-shadow);
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--val-size)*2);
}

input {
    padding: 10px;
    font-size: 28px;
    font-family: "Comic Neue", cursive;
    border: none;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

.btn {
    margin: 10px;
    height: 50px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    box-shadow: var(--drop-shadow);
}

.w-200 {
    width: 200px;
}

.w-300 {
    width: 300px;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_row {
    flex-direction: row;
}

.flex_column {
    flex-direction: column;
}

.flex_center img {
    border: solid 4px;
    border-radius: 25px;
    box-shadow: var(--drop-shadow);
}

.no_shadow {
    box-shadow: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
  height: 200px;
  box-shadow: var(--drop-shadow);
}

.textF {
  margin: 8px;
}

.footer a {
  color: #000000;
}

.flex-footer {
  display: flex;
  flex-direction: row;
}