@import url(variaveis.css);
@import url(global.css);

header {
    background-color: var(--light-blue);
}

nav button{
    color: var(--blue-text);
    background-color: var(--blue);
}

nav h1 {
    color: var(--light-blue-text);
}

.bar {
    background-color: var(--light-blue-text);
}

.btn {
    color: var(--light-blue-text);
    background: var(--light-blue);
}

.flex_center img {
    border-color: none;
}

#lapis {
    border: none;
    cursor: pointer;
}

.footer {
    background-color: var(--light-blue);
}
