@import url(variaveis.css);

header {
    background-color: var(--light-yellow);
}

nav button{
    color: var(--yellow-text);
    background-color: var(--yellow);
}

nav h1 {
    color: var(--yellow-text);
}

.bar {
    background-color: var(--yellow-text);
}

.flex_center img {
    border-color: var(--light-blue-text);
}

.bloco_quemsomos {
    background-color: #FFFFFF;
}

.containerQS {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: none;
}

.missao{
    background-color: var(--light-yellow);
    color: var(--yellow-text);
}

.visao{
    background-color: var(--light-green);
    color: var(--green-text);
}

.valores{
    background-color: var(--dark-blue-light);
    color: var(--dark-blue-light-text);
}

.equipe{
    background-color: var(--light-pink);
    color: var(--pink-text);
}

.footer {
    background-color: var(--light-yellow);
}