@import url(global.css);

header {
    background-color: var(--light-yellow);
}

nav button{
    color: var(--yellow-text);
    background-color: var(--yellow);
}

nav h1 {
    color: var(--yellow-text);
}

.bar {
    background-color: var(--yellow-text);
}

.main_flex_center img {
    border-color: var(--light-blue-text);
}

.bloco__quemsomos {
    background-color: #FFFFFF;
    width: 430px;
    height: 380px;
    margin: 25px;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.bloco__conteiner {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 430px;
    height: 380px;
    margin: 25px;
    border-radius: 50px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0);
    overflow: hidden;
}

.missao{
    background-color: var(--light-yellow);
    color: #7E7C03;
}

.visao{
    background-color: var(--light-green);
    color: #085B16;
}

.valores{
    background-color: var(--dark-blue-light);
    color: var(--dark-blue-light-text);
}

.equipe{
    background-color: #FAE9F5;
    color: #98006D;
}

.footer {
    background-color: var(--light-yellow);
}