@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,700&family=Krona+One&family=Montserrat:wght@400;600&display=swap");
html {
  background-color: #FAFAFA;
  margin: 0;
  border: 0;
}

nav h1 {
  color: #0093B4;
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-size: 2em;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #D3F7FF;
  border-radius: 30px;
  box-shadow: 0 3px rgba(0, 0, 0, 0.153);
}

body {
  font-size: 32px;
  font-family: "Helvetica", "Arial", sans-serif;
  text-align: center;
  background-color: #FAFAFA;
}

h3 {
  font-family: "Comic Neue", cursive;
  color: #000000;
}

form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cadastro__main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pag__inicial {
  width: 1440px;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 flex-wrap: wrap;
}

.bloco__inicio {
  width: 430px;
  height: 380px;
  margin: 25px;
  border-radius: 50px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

#bloco__ansiedade {
  background-color: #fae9f5;
}
#bloco__tdah {
  background-color: #dff0d9;
}
#bloco__depressao {
  background-color: #e9eafa;
}
#bloco__somos {
  background-color: #f6f2d5;
}